# Notebook: View Dataset Statistics

This notebook is used to explore a given dataset.

## Packages

In [5]:
import pandas as pd
import re

## Constants

In [6]:
DATASET_PATH = "reviews_dataset/balanced_reviews_sentences.csv"

## Code

In [7]:
df = pd.read_csv(DATASET_PATH)
df

,Unnamed: 0.1,Unnamed: 0,review_id,restaurant_id,page_index,title,date,author_name,author_location,text,rating,city,restaurant_name,language_code,text_noanonymization,sentence_idx,detected_language
0,0,1537,867609212,743219,1,Schönes Ambiente,2022-11-07,schneiderrebecca,"Würzburg, Deutschland",Das Personal freundlich.,4.0,leipzig,Cafe Riquet,de,Ich war gegen 17:30 Uhr in dem Kaffeehaus. Die...,4,de
1,1,2443,911273338,1342313,1,Nicht nur überaus köstlich in romantischer Atm...,2023-08-18,Michael E,NaN,"Überragender Service, köstliche Speisen!Wir ko...",5.0,bielefeld,Jivino Enoteca,de,"Ungefragt wurde uns vorab serviert, was wir mö...",1,de
2,2,2150,910109779,1118853,0,Einfache Biergartenküche zu gehobenen Preisen,2023-08-13,ingrid240,"Frankfurt am Main, Deutschland","Freundlicher Service, sehr gutes Bier.Das <LOC...",2.0,hannover,Bavarium,de,"Freundlicher Service, sehr gutes Bier.Das Tiro...",0,de
3,3,724,857521547,1190751,12,Schlemmermenü super köstlich.,2022-08-31,409gisell,NaN,Jeder Gang ein Genuss.,5.0,frankfurt,Trattoria i Siciliani,de,Jeder Gang ein Genuss. Wir haben Fisch und Fle...,0,de
4,4,2984,892846168,2481134,1,"Essen, Wein und Service sehr zu empfehlen",2023-05-31,Explore04799982138,"Gaiole in Chianti, Italien",Ein tolles italienisches Restaurant.,4.0,mannheim,Da Vino,de,Ein tolles italienisches Restaurant. Essen tol...,0,de
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,3495,504,868718065,7235024,2,Mein erster originaler rheinischer Sauerbraten,2022-11-16,ALMSUPA,"Wien, Österreich",Danke für die tolle Zeit bei Euch!,4.0,köln,Früh am Dom,de,"Waren in der City mit dem ""einheimischen"" Cous...",5,de
3496,3496,218,883034414,954454,2,War mit 4 Freunden hier essen. Freundliches Pe...,2023-03-21,Joker-BN,"Bonn, Deutschland",Nach Rücksprache mit dem Chef wurde eine Ausna...,4.0,hamburg,ALEX Hamburg,de,Sehr schöne Lage mit Blick auf die Alster. Gut...,14,de
3497,3497,2205,853942330,1390048,2,"Gutes Essen, meist mit Wartezeit",2022-08-13,TobiMTravel,"München, Deutschland",Die <LOC> waren sehr gut und das Sauerkraut eb...,4.0,nürnberg,Bratwursthäusle,de,Wir waren als paar an einem Samstag Mittag dor...,1,de
3498,3498,3175,889498235,7322855,4,Ein Reines Gedicht,2023-05-08,Tim R,NaN,Es schmeckt als ob die Kuh jeden Tag vom Bauer...,5.0,augsburg,SteakManufaktur,de,Zur Ambiente:Wir würden herzlich empfangen vom...,11,de
3499,3499,2176,852451262,960237,0,Haben uns mehr versprochen,2022-08-06,Passport40815252002,"Heilbronn, Deutschland",Service mit Schwächen.,3.0,hannover,BLOCK HOUSE Am Kröpcke,de,Französische Zwiebelsuppe als Vorspeise war ei...,1,de

In [8]:
rating_counts = df['rating'].value_counts()
rating_counts

rating
4.0    700
5.0    700
2.0    700
3.0    700
1.0    700
Name: count, dtype: int64

In [10]:
rating_counts = df['city'].value_counts()
rating_counts

city
hamburg            375
leipzig            282
dresden            259
münchen            231
düsseldorf         171
frankfurt          161
bonn               156
stuttgart          156
köln               155
nürnberg           140
münster            126
berlin             121
augsburg           121
mannheim           118
bremen             114
bielefeld          108
mönchengladbach    105
bochum             101
hannover            97
essen               96
wiesbaden           94
karlsruhe           81
dortmund            55
wuppertal           45
duisburg            32
Name: count, dtype: int64

In [11]:
rating_counts = df['restaurant_name'].value_counts()
rating_counts

restaurant_name
Bullerei                    173
Ratskeller                  148
Mamma Mia                   142
Olive                        89
Schneider Bräuhaus           84
                           ...
Ola Lisboa                    3
Argentina - Steak & Mehr      3
Tokyo Sushi Bar               2
Thai Banyan Restaurant        2
Webster-Brauhaus              1
Name: count, Length: 122, dtype: int64

In [12]:
#df.groupby(['sentence_idx', 'review_id']).size().reset_index(name='count')

In [13]:
def count_words(text):
    words = re.findall(r'\w+', text)
    return len(words)

df['word_count'] = df['text'].apply(count_words)
average_word_count_by_rating = df.groupby('rating')['word_count'].mean()
average_word_count_by_rating

rating
1.0    15.238571
2.0    14.152857
3.0    14.197143
4.0    12.604286
5.0    11.487143
Name: word_count, dtype: float64

In [14]:
 df['word_count'].mean()

13.536